In [4]:
import pandas as pd

In [5]:
pd.__version__

'1.3.4'

In [8]:
names=pd.Series(['priya','Mupsi','Anna'],index=[1,2,3])

In [9]:
print(names)

1    priya
2    Mupsi
3     Anna
dtype: object

In [12]:
icecream={"Arun":{1:'Casata',2:'popup',3:'cone'},"flavour":{1:'Butterscotch',2:'Blackcurrent',3:'chocolate'}}

In [16]:
pd.DataFrame(icecream,columns=["Arun","flavour"])

     Arun       flavour
1  Casata  Butterscotch
2   popup  Blackcurrent
3    cone     chocolate

In [17]:
import numpy as np

In [29]:
a=pd.DataFrame(np.random.randint(20,30,size=(5,5)),columns=list(('abcde')))

In [30]:
print(a)

    a   b   c   d   e
0  29  28  24  26  28
1  28  25  23  20  29
2  22  29  20  23  24
3  28  25  26  23  20
4  27  24  29  28  22

In [58]:
a.to_csv('C:/Users/ADMIN/Documents/Mupsi/MI.csv')

In [59]:
d=pd.read_csv('C:/Users/ADMIN/Documents/Mupsi/MI.csv')

In [40]:
print(d)

   Unnamed: 0   a   b   c   d   e
0           0  29  28  24  26  28
1           1  28  25  23  20  29
2           2  22  29  20  23  24
3           3  28  25  26  23  20
4           4  27  24  29  28  22

In [56]:
 d.drop("e",axis=1)

   Unnamed: 0   a   b   c   d
0           0  29  28  24  26
1           1  28  25  23  20
2           2  22  29  20  23
3           3  28  25  26  23
4           4  27  24  29  28

In [53]:
d.shape

(5, 6)

In [55]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      int64
 1   a           5 non-null      int64
 2   b           5 non-null      int64
 3   c           5 non-null      int64
 4   d           5 non-null      int64
 5   e           5 non-null      int64
dtypes: int64(6)
memory usage: 368.0 bytes