In [1]:
import warnings

In [2]:
warnings.simplefilter('ignore')

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as pt

In [4]:
%matplotlib inline

In [5]:
d=pd.read_csv("C:/Users/ADMIN/Downloads/Admission_Predict_Ver1.1 (1).csv")

In [6]:
d

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [7]:
d.shape

(500, 9)

In [8]:
d.info

<bound method DataFrame.info of      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
0             1        337          118                  4  4.5  4.5  9.65
1             2        324          107                  4  4.0  4.5  8.87
2             3        316          104                  3  3.0  3.5  8.00
3             4        322          110                  3  3.5  2.5  8.67
4             5        314          103                  2  2.0  3.0  8.21
..          ...        ...          ...                ...  ...  ...   ...
495         496        332          108                  5  4.5  4.0  9.02
496         497        337          117                  5  5.0  5.0  9.87
497         498        330          120                  5  4.5  5.0  9.56
498         499        312          103                  4  4.0  5.0  8.43
499         500        327          113                  4  4.5  4.5  9.04

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
495         1              0.87
496         1              0.96
497         1              0.93
498         0              0.73
499         0              0.84

[500 rows x 9 columns]>